
{% extends "layout.html" %}
{% block content %}

<div class="body-content">

<form class="form-horizontal" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label(class='col-md-4 control-label') }}
      <div class="col-md-5">
          {{ form.name(class='form-control input-md', required='required') }}
      </div>
    </div>
    <div class="form-group">
      {{ form.property_address.label(class='col-md-4 control-label') }}
      <div class="col-md-5">
          {{ form.property_address(class='form-control input-md', placeholder='123 Main', required='required') }}
      </div>
    </div>
    <div class="form-group">
      {{ form.zip_code.label(class='col-md-4 control-label') }}
      <div class="col-md-5">
          {{ form.zip_code(class='form-control input-md', placeholder='78701', required='required') }}
      </div>
    </div>
    <div class="form-group">
      {{ form.questions.label(class='col-md-4 control-label') }}
      <div class="col-md-4">
          {{ form.questions(class='form-control input-md', required='required') }}
      </div>
    </div>

    <div class="from-group">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button id="button" name="button" class="btn btn-primary">Submit</button>
      </div>
    </div>

</fieldset>
</form>

</div>
{% endblock %}

